.o-ui-step-connector {
    height: 2px;
    margin: 15px 0;
    width: 100%;
    background-color: var(--o-ui-neutral-2);
}

.o-ui-step-connector-root-completed > .o-ui-step-connector {
    background-color: var(--o-ui-purple-6);
}
