.o-ui-step {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.o-ui-step-dot {
    margin: 6px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 2px solid var(--o-ui-purple-6);
    transition: border 0.1s linear;
}

.o-ui-step-root-completed .o-ui-step-dot,
.o-ui-step-root-inactive .o-ui-step-dot {
    border-color: transparent;
}

.o-ui-step-dot::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--o-ui-neutral-2);
}

.o-ui-step-root-completed .o-ui-step-dot::before {
    background-color: var(--o-ui-purple-6);
}

.o-ui-step-clickable:hover {
    cursor: pointer;
}

.o-ui-step-clickable:hover .o-ui-step-dot {
    border-color: var(--o-ui-purple-3);
}

.o-ui-step-clickable:hover .o-ui-step-dot::before  {
    background-color: var(--o-ui-neutral-2);
}
